*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #282c34;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    &__heading{

    width: 40rem;
    height: 10rem;
    background-color:#fecc7b;
    
    
    h1{
        font-size: 5rem;
        font-weight: 900;
        margin-bottom: 2rem;
        color: #282c34;
        text-align: center;
        line-height: 10rem;

    }}
    &__users{
        position: absolute;
        z-index: -1;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        

        &--user1 span{
            font-size: 2rem;
            font-weight: 300;
            margin-right: 1rem;
        }
    }


    &__dice{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        img{
            width: 10rem;
            height: 10rem;
        }
    }

    &__btn{
        background-color: #61dafb;
        color: #282c34;
        font-size: 2.5rem;
        font-weight: 600;
        padding: 3rem 7rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover{
            background-color: #fafafa;
            color: #333;
        }
    }
}

.footer {
    position: fixed;
    width: 100%;
    height: 5rem;
    bottom: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__uixcem {
        width: 5rem;
        height: 5rem;
    }



    &__animated__line{   
    text-decoration: none;
    color: #fff;
    animation: blink-text 4s linear infinite;
    position: relative;
    font-family: "lores-12", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 19px;


    &::before{
    content: "";
    position: absolute;
    background: url(../images/yellow-brush.png) no-repeat center/contain;
    z-index: -1;
    width: 140px;
    height: 110px;
    left:-3.7rem;
    top: -4.5rem; 
    }
}
}

@keyframes blink-text {
    1% {
        color: #333;
    }
    2% {
        color: #fff;
    }
    3% {
        color: #333;
    }
    8% {
        color: #fff;
    }
    9% {
        color: #fff;
    }
    10% {
        color: #333;
    }
    11% {
        color: #fff;
    }
    12% {
        color: #333;
    }
    44% {
        color: #333;
    }
    45% {
        color: #fff;
    }
    49% {
        color: #fff;
    }
    50% {
        color: #333;
    }
    51% {
        color: #333;
    }
    52% {
        color: #fff;
    }
    53% {
        color: #333;
    }

    54% {
        color: #fff;
    }

    55% {
        color: #333;
    
    }

    56% {
        color: #fff;
    }
    
    59%{
        color: #fff;
    }
} 
